<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>List of tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .navbar {
            padding: 0 10px;
        }

        *.icon-dark {
            color: grey;
        }

        .message {
            position: absolute;
            top: 40px;
            right: 5px;
        }

        .search {
            position: relative;
        }

        .search input {
            text-indent: 25px;
            border: 2px solid #d6d4d4;
        }

        .search input:focus {
            box-shadow: none;
            border: 1px solid grey;
        }

        .search .fa-search {
            position: absolute;
            top: 12px;
            left: 10px;
        }

        .search button {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 80px;
            background: grey;
        }

        .size-select {
            width: 60px;
            color: #495057;
            vertical-align: middle;
            padding: 6px 12px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--&#45;&#45; list, pagination and sorting&#45;&#45;-->

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">List of Tasks</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="my-3">
        <form th:action="@{/tasks}" id="searchForm">
            <div class="row d-flex">
                <div class="col-md-6 mt-2">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                               class="form-control"
                               placeholder="Enter keyword">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
                <div class="col-md-3 input-group mt-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="pageSize">Items per page:</label>
                    </div>
                    <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                            class="size-select"
                            id="pageSize">
                        <option th:each="s : ${pageSizes}" th:value="${s}" th:text="${s}"
                                th:selected="${s == pageSize}"></option>
                    </select>
                </div>
                <div class="col-md-1 mt-2">
                    <button id="btnClear" class="btn btn-info">Clear</button>
                </div>
            </div>
        </form>
    </div>


    <div th:if="${tasks.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th th:replace="fragments/sorting :: sorting('id','Id')"></th>
                <th th:replace="fragments/sorting :: sorting('description','Description')"></th>
                <th th:replace="fragments/sorting :: sorting('status','Status')"></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <th scope="row">[[${task.id}]]</th>
                <td>[[${task.description}]]</td>
                <td>[[${task.status}]]</td>
                <td>
                    <a th:href="@{'/tasks/' + ${task.id}}" title="Edit this task"
                       class="fa-regular fa-pen-to-square icon-dark"></a>
                    &nbsp;
                    <a th:href="@{'/tasks/' + ${task.id} + '/delete'}" th:taskTitle="${task.getDescription()}" id="btnDelete"
                       title="Delete this task" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="" th:unless="${tasks.size() > 0}">
        <span>No tasks found!</span>
    </div>

    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            taskTitle = link.attr("taskTitle");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the task \<strong\>" + taskTitle + "\<\/strong\>?");
            $("#confirmModal").modal('show');
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tasks}]]";
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</body>
</html>